@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeueMontreal-Light";
  src: local("NeueMontreal-Light"),
    url("./fonts/NeueMontreal-Light.otf") format("opentype");
}

@font-face {
  font-family: "NeueMontreal-Medium";
  src: local("NeueMontreal-Medium"),
    url("./fonts/NeueMontreal-Medium.otf") format("opentype");
}

@font-face {
  font-family: "NeueMontreal-Bold";
  src: local("NeueMontreal-LiBoldght"),
    url("./fonts/NeueMontreal-Bold.otf") format("opentype");
}

:root {
  --primary: #f9eed8;
  --secondary: #140b0b;
  --hero-backdrop: url("/assets/images/hero-backdrop.png");
  --h1-mobile: 48px; /* 5xl */
  --h1-Desktop: 96px; /* 6xl */
  --h2-mobile: 30px; /* 3xl */
  --h2-Desktop: 64px; /* 4xl */
}
